# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.gradle/*

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Node leftovers
node_modules/
